.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 30px;
    background-color: rgb(4, 2, 9);
    color: white;
  }
  
  .logo {
    font-size: 24px;
    font-weight: bold;
    color: #e74c3c;
  }
  
  .nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
  }
  
  .nav-links li {
    display: inline;
  }
  
  .nav-links a {
    text-decoration: none;
    color: white;
    font-size: 21px;
  }
  
  .logout-btn {
    background: #e74c3c;
    padding: 1.5px 16px;
    border-radius: 5px;
    font-size: 18px;
  }
  